# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
venv/
env/
.env
.venv

# Banco de Dados SQLite
*.sqlite3
db.sqlite3

# Arquivos de mídia e estáticos coletados
/media/
/static_root/
/staticfiles/

# Logs
*.log
django.log

# Arquivos do VSCode
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.pytest_cache/
