# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
venv/
.env

# Banco de Dados SQLite
*.sqlite3
db.sqlite3

# Arquivos de mídia e estáticos coletados
/media/
/static_root/

# Arquivos do VSCode
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
