<figure class="gif-block my-4">
    <div class="text-center">
        <img src="{{ value.gif_url }}" alt="GIF Animado" class="img-fluid rounded">
    </div>
    {% if value.caption or value.credit %}
        <figcaption class="figure-caption {{ value.caption_position|default:'text-start' }} mt-2">
            {% if value.caption %}
                {{ value.caption }}
            {% endif %}
            {% if value.credit %}
                <span class="text-muted">
                    {% if value.caption %} | {% endif %}
                    Créditos: {{ value.credit }}
                </span>
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
