{% load wagtailimages_tags %}

<figure class="image-block my-4">
    {% if value.image %}
        {% image value.image original as img %}
        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid rounded">
    {% elif value.image_url %}
        <img src="{{ value.image_url }}" alt="Imagem do artigo" class="img-fluid rounded">
    {% endif %}
    
    {% if value.caption or value.credit %}
        <figcaption class="figure-caption {{ value.caption_position|default:'text-start' }} mt-2">
            {% if value.caption %}
                {{ value.caption }}
            {% endif %}
            {% if value.credit %}
                <span class="text-muted">
                    {% if value.caption %} | {% endif %}
                    Créditos: {{ value.credit }}
                </span>
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
